<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#wackoverflow-navbar"
            aria-controls="wackoverflow-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="wackoverflow-navbar">
            <div class="navbar-nav">
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li>
                        <p>PUBLIC</p>
                    </li>
                    <li><a class="nav-link" href="#">Wack Overflow</a></li>
                    <li><a class="nav-link" href="#">Tags</a></li>
                    <li><a class="nav-link" href="#">Users</a></li>
                    <li>
                        <p>FIND A JOB</p>
                    </li>
                    <li><a class="nav-link" href="#">Jobs</a></li>
                    <li><a class="nav-link" href="#">Companies</a></li>
                    <li>
                        <p>TEAMS</p>
                    </li>
                    <li><a class="nav-link" href="#">Free 30 Day Trial</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>