<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <div class="container-fluid h-100"> 
        <div class="row h-100">
            <div class="col-2" id="green">
                <a class="nav-item nav-link  
                active" href="#">Home</a>
                <!-- Navigation links in sidebar-->
                <p>PUBLIC</p><br />
                <a class="nav-item nav-link" href="/">Wack Overflow</a><br />
                <br />
                <a class="nav-item nav-link" href="#">Tags</a><br />
                <br />
                <a class="nav-item nav-link" href="#">Users</a><br />
                <br />
                <p>FIND A JOB</p><br />
                <a class="nav-item nav-link" href="#">Jobs</a><br />
                <br />
                <a class="nav-item nav-link" href="#">Companies</a><br />
                <br />
                <p>TEAMS</p><br />
                <a class="nav-item nav-link" href="#">Free 30 Day Trial</a><br />
                <br />
            </div>

            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Price</a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </div>
    </div>