<!--<div class="container-fluid h-100">-->
<!--   <div class="row h-100 w-100">-->
<div class="col-2" id="green">
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true"><a class="nav-item nav-link  
                    active" href="/">Home</a></li>
        <li class="list-group-item">PUBLIC</li>
        <li class="list-group-item"><a class="nav-item nav-link" href="/">Wack Overflow</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" href="#">Tags</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" href="#">Users</a></li>
        <li class="list-group-item">FIND A JOB</li>
        <li class="list-group-item"><a class="nav-item nav-link" href="#">Jobs</a></li>
        <li class="list-group-item"><a class="nav-item nav-link" href="#">Companies</a></li>
        <li class="list-group-item">TEAMS</li>
        <li class="list-group-item"><a class="nav-item nav-link" href="#">Free 30 Day Trial</a></li>
    </ul>
</div>
<!--  </div>-->
<!--  </div>-->