html{
    overflow:scroll;
}

#wack-form-text {
    resize: none;
}
textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: palegoldenrod;

}

#ask-parent{
    top: 1em;
}

#ask-head{
    position: relative;
    left: 1em;
}

#ask-title{
    position: relative;
    top: 10px;
    font-size: 40px;
}

#form-h4{
    font-weight: bold;
    background-image: linear-gradient(palegoldenrod,plum);
}

.form-group + .form-group {
    padding-top: 1em;
}


#form-parent{
    padding-right: 20rem;
    position: absolute;
}

#wack-form{
    padding: 2em 2em 2em 2em;
    box-shadow:0 0 0 3px #ccc;
}

#guide {
    padding: 2em 2em 2em 2em;
    
}

#guide-parent{
    position: absolute;
    width: 20rem;
    left: 50em;
    top: 1em;
    box-shadow:0 0 0 3px #ccc;
}

#green{
    float: left;
    width: 200px;
 
    
    border: 1px;
    border-color: #e5e5e5;
    border-right-style: solid;
    margin-right: 10px;
}
#mainbar{
  
    border: 1px;
    border-color: #e5e5e5;
    border-bottom-style: solid;
 
    margin-left: 185px;
    
}
#headline{
    float: left;
}

