#wack-form-text {
    resize: none;
}
textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: palegoldenrod;

}

#form-h4{
    font-weight: bold;
    background-image: linear-gradient(palegoldenrod,plum);
}

.form-group + .form-group {
    padding-top: 1em;
}

#form-parent{
    padding-right: 20rem;
}

#wack-form{
    padding: 2em 2em 2em 2em;
    box-shadow:0 0 0 3px #ccc;
}

