<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>

        <div class="container">
            <h1>Ask a public question</h1>
            <div class="row" id="form-parent">
                <div class="col w-75 p-3" id="form">
                    <form id="wack-form" method="POST" action="/ask">  <!-- ohne action vlt-->
                        <div class="form-group">
                            <h4>Title</h4>
                            <p>Be specific and imagine you're asking a question to another person</p>
                            <textarea name="title" class="form-control" id="wack-form-text" placeholder="e.g how to hack NASA using HTML" maxlength="250"></textarea>
                        </div>
                        <div class="form-group">
                            <h4>Body</h4>
                            <p>Include all the information someone would need to answer your question</p>
                            <textarea name="body" class="form-control" id="wack-form-text" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <h4>Tag</h4>
                            <p>Tags are used to easier find your question</p>
                            <textarea name="tag" class="form-control" id="wack-form-text" maxlength="50"></textarea>
                        </div>
                        <button id="ask-submit" type="submit" class="btn btn-dark">Ask Question!</button>
                    </form>
                </div>
                <div class="co-offset-5" id="guide">
                    
                        <p>swdwdwdwdwdw</p>
                                  
                </div>
            </div>
        </div>
    </body>
</html>