<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!-- navbar links -->
    <%- include('../partials/nav', { active: 'index' }) %>
        <%- include('../partials/sidebar', { active: 'index' }) %>
            <!--
        <footer>
            <% include ('../partials/footer') %>
        </footer>
 -->
</body>

</html>