<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav', { active: 'question', userData: user }) %>
        <div class="container">
            <div class="row" id="quest-parent">
                <div class="col" id="quest">
                    <div class="row" id="quest-title">
                        
                    
                        <p href="/question" class="stretched-link">
                            <%= data[0].Headline %>
                        </p>
                    
                    </div>
                    <div class="row" id="quest-body">
                    
                        <p href="/question" class="stretched-link">
                            <%= data[0].Content %>
                        </p>
                   </div>
                    <div class="row" id="quest-comment">

                        <form id="com-form" method="POST" action="/question">
                            <div class="form-group">
                                <textarea id="quest-post-comment">
                                
                                </textarea>
                            </div>
                            <button id="comment-submit" type="submit" class="btn btn-dark">Post Comment!</button>

                        </form>
                    
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>